{
  "type": "bubble",
  "body": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "text",
        "text": "{{if .Completed}} ✅ {{else}} ❌ {{end}} {{ .Title }}",
        "weight": "bold",
        "size": "xl"
      },
      {
        "type": "button",
        "action": {
          "type": "message",
          "label": "Done",
          "text": "done.{{ .ID }}"
        }
      }
    ]
  },
  "footer": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "text",
        "text": "更新時間: {{.UpdatedAt}}",
        "size": "xxs",
        "color": "#8f96a1"
      }
    ]
  },
  "size": "micro"
}