{
  "type": "bubble",
  "body": {
    "type": "box",
    "layout": "vertical",
    "contents": [
      {
        "type": "text",
        "text": "{{ .Title }}",
        "weight": "bold",
        "size": "xl"
      }
    ]
  }
}